.login-form .field{
  border-color: rgb(194, 194, 194);
}
.login-form label{
  margin-bottom: 10px !important;
}
.container-fluid table thead tr th{
  background-color: #f9f9fb;
  font-size: 14px;
  text-wrap: nowrap;
}
.container-fluid table tbody tr td{
  font-size: 15px;
  padding: 10px;
}
nav button .css-onkibi{
  width: 10px;
  height: 10px;
}
